<div class="head">
  <div class="row contain-to-grid">
    <top-bar>
      <ul class="columns small-5 title-area">
        <li class="name">
         <a href="/">
            <img src="assets/images/logo.png" />
          </a>
        </li>
      </ul>
      <div class="menu-top">
        <!-- Left Nav Section -->
        <ul class="left menus">
          <li class="menu-item">
            <a href="#">Trang chủ</a>
          </li>
          <li class="menu-item">
            <a href="#">Hoạt động</a>
          </li>
          <li class="menu-item active">
            <a href="#">Thảo luận</a>
          </li>
        </ul>
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-form notification notification" notification-dropdown-button>
          <a href="#"><img src="assets/images/noti.png" /></a>
          </li>
          <li class="has-form setting">
            <a dropdown-toggle="#dropdown-setting" class="button2">
              <img src="assets/images/setting.png" alt="" />
            </a>
            <ul id="dropdown-setting" class="f-dropdown" dropdown-align="right">
              <li><a href="/setting/account">Cài đặt</a></li>
              <li><a ng-click="showShortcutPopup()">Phím tắt bàn phím</a></li>
              <li><a ng-click="logout()">Đăng xuất</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </top-bar>
    <div class="row ">
      
    </div>
  </div>
</div>
<!-- Container -->
<div id="content">
  <div class="row">
            <div class="large-11 columns left1">
                <div class="row">
                  <div class="large-8 columns tit"><h4>Các chủ đề</h4>
                  </div>
                  <div class="small-8 columns tit">
                      <a ng-href="#" class="small-14 secondary memo-button1 right">
                              Đăng chủ đề
                      </a>
                  </div>
                  <div class="large-16 columns main-content head-content">
                      <ul class="tabs tab-content">
                          <li class="tab-title active" role="presentational" ><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">Chủ đề nóng</a></li>
                          <li class="tab-title" role="presentational" ><a href="#panel2-2" role="tab" tabindex="0"aria-selected="false" controls="panel2-2">Chủ đề mới</a></li>
                          <li class="tab-title" role="presentational"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" controls="panel2-3">Đã theo dõi</a></li>
                        </ul>
                        <div class="tabs-content">
                          <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
                            <div class="comment-frame">
                              <div class="row comment">
                                  <div class="large-2 columns avar">
                                     <span class="img1"><img src="assets/images/king.png"></span>
                                     <span class="img2"><img src="assets/images/avatar.png"></span>
                                  </div>
                                  <div class="large-9 columns cmt">
                                      <img src="assets/images/star.png">
                                      <span class="ct-cmt">Các nguốn học tiếng Trung miễn phí (sẽ cập nhật thêm)</span><br/>
                                      <span class="name-user">Administrator,</span>
                                      <span class="date">27/9/2014 -</span>
                                      <span class="topic">Memo</span>
                                  </div>
                                  <div class="large-3 columns count-cmt right">
                                      <img src="assets/images/count-cmt.png">
                                  </div>
                              </div>
                            </div>

                            <div class="comment-frame">
                              <div class="row comment">
                                  <div class="large-2 columns avar">
                                     <span class="img1"><img src="assets/images/smart.png"></span>
                                     <span class="img2"><img src="assets/images/avatar.png"></span>
                                  </div>
                                  <div class="large-9 columns cmt">
                                      <img src="assets/images/star.png">
                                      <span class="ct-cmt">Các nguốn học tiếng Trung miễn phí (sẽ cập nhật thêm)</span><br/>
                                      <span class="name-user">Administrator,</span>
                                      <span class="date">27/9/2014 -</span>
                                      <span class="topic">Memo</span>
                                  </div>
                                  <div class="large-3 columns count-cmt right">
                                      <img src="assets/images/count-cmt.png">
                                  </div>
                              </div>
                            </div>

                            <div class="comment-frame">
                              <div class="row comment">
                                  <div class="large-2 columns avar">
                                     <span class="img1"><img src="assets/images/smart-green.png"></span>
                                     <span class="img2"><img src="assets/images/avatar.png"></span>
                                  </div>
                                  <div class="large-9 columns cmt">
                                      <img src="assets/images/star.png">
                                      <span class="ct-cmt">Các nguốn học tiếng Trung miễn phí (sẽ cập nhật thêm)</span><br/>
                                      <span class="name-user">Administrator,</span>
                                      <span class="date">27/9/2014 -</span>
                                      <span class="topic">Memo</span>
                                  </div>
                                  <div class="large-3 columns count-cmt right">
                                      <img src="assets/images/count-cmt.png">
                                  </div>
                              </div>
                            </div>


                          </section>
                          <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
                            <h2>Second panel content goes here...</h2>
                          </section>
                          <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
                            <h2>Third panel content goes here...</h2>
                          </section>
                          <section role="tabpanel" aria-hidden="true" class="content" id="panel2-4">
                            <h2>Fourth panel content goes here...</h2>
                          </section>
                        </div>
                  </div>
                </div>
            </div>
            <div class="large-4 offset-1 columns right1">
                <div class="row search-forum">
                    <input type="text" placeholder="Tìm kiếm chủ đề..." class="input1" />
                </div>
            </div>
  </div>
</div>

