*{
	margin:0;
	padding:0;
	font-family: "Clear Sans","Helvetica Neue","Helvetica","Helvetica,Arial,sans-serif" !important;
}
.head{
	width:100%;
	background:#810c15;
}
.contain-to-grid{
	width:100%;
	height:70px;
	background:#810c15;
	font-family: "Clear Sans","Helvetica Neue","Helvetica","Helvetica,Arial,sans-serif" !important;
}
.top-bar{
	background:#810c15;
}
.menu-top ul li{
	background-color:#810c15 !important;
	display:inline-block;
	margin-right:15px;
	color:#ffffff;
	line-height:40px;

}
.menu-top ul li a{
	display:block;
	color:#ffffff;
	line-height:40px;
	font-size: 1rem;
	font-weight: bold;
	text-transform: none;
	padding-right:15px;
	padding-left:15px;
}
.menu-top ul li a:hover,.menu-top ul li a:active{
	display:block;
	background-color:#aa0013 !important;
    border-radius: 5px;

}
.active>a{
	display:block;
	background-color:#aa0013 !important;
    border-radius: 5px;

}
.name a img{
	margin-top:22px;
	width:235px;
	height:28px;
}
.menu-top .left{
	margin-top:20px;
}
.menu-top ul{
	margin-left:-90px;
}
.menu-top .left ul li{
	margin-left:20px;
}

.notification img{
	line-height: 40px;
	margin: 0;
	top: 0;
}
.right li{
	margin-top:8px;
	display:block;
	background:#aa0013;

}
.menu-top .right li a{
	display:block;
	background:#810c15;
    border-radius: 0px;
    margin-top:-6px;
    padding-top:10px;
    padding-bottom:18px;
    
}

.menu-top .right li a img{
	margin:auto;
	display: inline-block;
	vertical-align: middle;
}
.menu-top .right li a:hover{
	display:block;
	background:#aa0013;
    border-radius: 0px;

}
#dropdown-setting {
border-radius: 5px;
min-width: 220px;
box-shadow: 0 0 20px rgba(0,0,0,0.5);
left: 962px !important;
min-width: 220px;
}
#dropdown-setting li{
	width:220px;
	background: red;
}
ul #dropdown-setting{
	margin-top:5px !important;
	border-radius:5px !important;
	min-width: 222px;
}
li ul #dropdown-setting{
	margin-top:10px;
}
#dropdown-setting ul li{
	color:black;
	background:#fff !important;
}
#dropdown-setting>li:last-child {
border-radius: 0 0 5px 5px;
}
#dropdown-setting a{
	display:block;
	height:50px;
	background:#fff;
	color:#810c15;
}
#dropdown-setting a:hover{
	display:block;
	width:220px;
	height:50px;
	background:#aa0013;
	color:#fff;
}
.main-content{
	margin-left:40px;
}body{
  background: #eee !important;
}
.top-bar {
  background: #810c15;
  max-width: 100%;
}
.content-forum{
  background: #fff;
  border-radius: 10px;
  margin-top: 40px;
  padding-bottom:20px;
  margin-bottom:40px;
}
.img-noti{
	position: relative;
}
.count-noti{
	position: absolute;
	top:14px;
	right:139px;
}
a.button-post-thread-forum:hover {
	background-color: #fb3 !important;
	color: #810c15 !important;
	font-family: "Clear Sans","Helvetica Neue","Helvetica","Helvetica,Arial,sans-serif" !important;
}
.fix:hover{
	background-color: #fb3 !important;
	color: #810c15 !important;
	font-family: "Clear Sans","Helvetica Neue","Helvetica","Helvetica,Arial,sans-serif" !important;
}
p.thread-title-forum {
  color: #333;
  font-size: 24px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 30px;
  font-weight:bold;
  font-family: "Clear Sans","Helvetica Neue","Helvetica","Helvetica,Arial,sans-serif" !important;
}
a.button-post-thread-forum {
  background: none repeat scroll 0px 0px #FFF;
  border: 2px solid #FFC149;
  color: #810C15;
  font-family: "Clear Sans","Helvetica Neue","Helvetica","Helvetica,Arial,sans-serif" !important;
  height: 36px;
  font-size: 16px;
  font-weight:580;
  line-height: 36px;
  margin-right: 30px;
  margin-top: 30px;
  padding: 0px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  float: right;
  transition: all 0.5s ease;
}
a.button-post-thread-forum:hover {
  background-color: #810c15;
  color: #fff;
  font-family: "Clear Sans","Helvetica Neue","Helvetica","Helvetica,Arial,sans-serif" !important;
}
#tabContainer {
  margin-left:30px;
  margin-right: 30px;
}
#tabs {
    border-bottom: 2px solid #F1F1F1;
    height: 30px;
    margin-bottom: 60px;
    overflow: hidden;
}
#tabs > ul {
    list-style: outside none none;
    margin-left: 0;
}
.tabActiveHeader {
    border-bottom: 4px solid #810C15 !important;
}
#tabs > ul > li {
    color: #333;
    cursor: pointer;
    display: block;
    font-weight: bold;
    float: left;
    font-family: "Clear Sans","Helvetica Neue","Helvetica","Helvetica,Arial,sans-serif" !important;
    font-size: 15px;
    margin: 0px 30px 0px 0px;
    min-width:100px;
} 
#tabscontent {
    color:#333;
}
.thread-post {
    border-bottom: 1px solid #CCC;
    display: block !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-bottom: 10px;
    margin-top: 15px !important;
    position:relative;
}
.avatar-threadpost {
    background: url("../assets/images/avatar1.jpg") no-repeat scroll 0px 0px transparent;
    border-radius: 50%;
    float: left;
    height: 60px;
    width: 60px;
}
.showicon {
    background: url("../assets/images/img1.png") no-repeat scroll 0px 0px transparent;
    height: 30px;
    left: 29px;
    width: 31px;
    position: absolute;
    top: 46px;
}
.icontwo {
    background: url("../assets/images/img2.png") no-repeat scroll 0px 0px transparent;
}
.iconthree {
    background: url("../assets/images/img3.png") no-repeat scroll 0px 0px transparent;
}
.the-post {
    display: inline-block !important;
    float: left;
    margin-left: 25px;
}
.the-post a.the-title {
    background: url("../assets/images/sao.jpg") no-repeat scroll left center transparent;
    color: #810C15;
    font-family: "clear_sansbold";
    font-size: 16px;
    padding-left: 25px;
    font-weight:bold;
}
.user {
    color: #666;
    font-family: "clear_sansregular";
    font-size: 14px;
    margin: 0;
}
p.user a.admin {
    color: #810C15;
    font-family: "clear_sansregular";
    font-size: 16px;
}
.memo {
    color: #810C15;
}
.assessment-fl {
    display: inline-block !important;
    margin-top: 5px;
}
.like {
    background: url("../assets/images/like.jpg") no-repeat scroll right center transparent;
    color: #666;
    float: left;
    font-size: 16px;
    padding-right: 25px;
}
.dislike {
    background: url("../assets/images/unlike.jpg") no-repeat scroll right center transparent;
    float: left;
    height: 20px;
    margin-left: 15px;
    width: 20px;
}
.chat {
    display: inline-block !important;
    float: right;
}
.chat span {
    background: url("../assets/images/chat.jpg") no-repeat scroll 0px 0px transparent;
    color: #FFF;
    display: block;
    font-family: "Clear Sans","Helvetica Neue","Helvetica","Helvetica,Arial,sans-serif" !important;
    font-size: 16px;
    height: 41px;
    line-height: 34px;
    text-align: center;
    width: 44px;
}
/*-----------------------------------END CONTENT-------------------------------------------*/
.sidebar-forum {
  min-height: 50px;
}
.search-forum {
    background: none repeat scroll 0px 0px #FFF;
    border-radius: 10px;
    float: right;
    margin-top: 40px !important;
    padding: 20px;
    text-align: center;
}
.sidebar-forum .search-forum input {
    background: url("../assets/images/search.jpg") no-repeat scroll 7px 9px transparent;
    border: 1px solid #CCC;
    border-radius: 5px;
    color: #CCC;
    font-family: "Clear Sans","Helvetica Neue","Helvetica","Helvetica,Arial,sans-serif" !important;
    font-size: 13px;
    height: 36px;
    padding-left: 35px;
    width: 220px;
    margin-bottom: 0;
}
.channel-flow {
    background: none repeat scroll 0px 0px #FFF;
    border-radius: 10px;
    float: right;
    margin-top: 20px !important;
    width: 260px !important;

}
.channel-flow > p {
    color: #333;
    font-family: "clear_sansregular";
    font-size: 24px;
    margin-left: 20px;
    margin-top: 15px;
}
.channel-flow ul.choose-channel {
    list-style: outside none none;
    margin-left: 21px;
}
.channel-flow .choose-channel li {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}
.choose-channel li a {
    color: #666;
    display: block;
    font-family: "clear_sansregular";
    font-size: 16px;
}
ul.choose-channel li a.choose-vn {
    background: url("../assets/images/vietnam.jpg") no-repeat scroll left center transparent;
    padding-left: 37px;
}
ul.choose-channel li a.choose-eng {
    background: url("../assets/images/eng.jpg") no-repeat scroll left center transparent;
    padding-left: 37px;
}
ul.choose-channel li a.choose-gem {
    background: url("../assets/images/gem.jpg") no-repeat scroll left center transparent;
    padding-left: 37px;
}
ul.choose-channel li a.choose-fr {
    background: url("../assets/images/fr.jpg") no-repeat scroll left center transparent;
    padding-left: 37px;
}
.channel-flow > a.fix {
    background: none repeat scroll 0px 0px #FFF;
    border: 2px solid #FFC149;
    border-radius: 5px;
    color: #810C15;
    display: inline-block;
    font-family: "clear_sansregular";
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 8px 19px;
}
p,a{
	font-family: "Clear Sans","Helvetica Neue","Helvetica","Helvetica,Arial,sans-serif" !important;
}