<div class="head">
  <div class="row contain-to-grid">
    <top-bar>
      <ul class="columns small-5 title-area">
        <li class="name">
         <a href="/">
            <img src="assets/images/logo.png" />
          </a>
        </li>
      </ul>
      <div class="menu-top">
        <!-- Left Nav Section -->
        <ul class="left menus">
          <li class="menu-item">
            <a href="#">Trang chủ</a>
          </li>
          <li class="menu-item">
            <a href="#">Hoạt động</a>
          </li>
          <li class="menu-item active">
            <a href="#">Thảo luận</a>
          </li>
        </ul>
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-form notification notification" notification-dropdown-button>
          <a href="#"><img src="assets/images/noti.png" / class="img-noti"></a>
          <span class="count-noti">2</span>
          </li>
          <li class="has-form setting">
            <a dropdown-toggle="#dropdown-setting" class="button2">
              <img src="assets/images/setting.png" alt="" />
            </a>
            <ul id="dropdown-setting" class="f-dropdown" dropdown-align="right">
              <li><a href="/setting/account">Cài đặt</a></li>
              <li><a ng-click="showShortcutPopup()">Phím tắt bàn phím</a></li>
              <li><a ng-click="logout()">Đăng xuất</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </top-bar>
    <div class="row ">
      
    </div>
  </div>
</div>
<!-- Container -->
<div id="content">
  <div class="row">
  <div class="large-12 columns content-forum">
    <div class="row">
      <div class="small-8 columns">
        <p class="thread-title-forum">Các chủ đề</p>
      </div>
      <div class="small-8 columns">
        <a class="button-post-thread-forum" href="" title="">Đăng chủ đề</a>
      </div>
    </div>
    <div class="row">
      <div class="large-16 columns">
        <div class="row" id="tabContainer">
          <div id="tabs">
            <ul>
              <li id="tabHeader_1">Chủ đề nóng</li>
              <li id="tabHeader_2">Chủ đề mới</li>
              <li id="tabHeader_3">Đã theo dõi</li>
            </ul>
          </div>
          <div id="tabscontent">
            <div class="tabpage" id="tabpage_1">
              <div class="row thread-post">
                <p class="avatar-threadpost"></p>
                <p class="showicon"></p>
                <div class="the-post">
                  <a href="#" class="the-title">Các nguồn học tiếng Trung miễn phí (sẽ cập nhật thêm)</a>
                  <p class="user">
                    <a href="#" class="admin">Administrator</a>, 29/7/2014 - <a href="#" class="memo">Memo</a>
                  </p>
                  <div class="assessment-fl">
                    <a class="like" href="#">78</a>
                    <a class="dislike" href="#"></a>
                  </div>
                </div>
                <div class="chat">
                  <span>69</span>
                </div>
              </div>
              <div class="row thread-post">
                <p class="avatar-threadpost"></p>
                <p class="showicon icontwo"></p>
                <div class="the-post">
                  <a href="#" class="the-title">Các nguồn học tiếng Trung miễn phí (sẽ cập nhật thêm)</a>
                  <p class="user">
                    <a href="#" class="admin">Administrator</a>, 29/7/2014 - <a href="#" class="memo">Memo</a>
                  </p>
                  <div class="assessment-fl">
                    <a class="like" href="#">78</a>
                    <a class="dislike" href="#"></a>
                  </div>
                </div>
                <div class="chat">
                  <span>69</span>
                </div>
              </div>
              <div class="row thread-post">
                <p class="avatar-threadpost"></p>
                <p class="showicon iconthree"></p>
                <div class="the-post">
                  <a href="#" class="the-title">Các nguồn học tiếng Trung miễn phí (sẽ cập nhật thêm)</a>
                  <p class="user">
                    <a href="#" class="admin">Administrator</a>, 29/7/2014 - <a href="#" class="memo">Memo</a>
                  </p>
                  <div class="assessment-fl">
                    <a class="like" href="#">78</a>
                    <a class="dislike" href="#"></a>
                  </div>
                </div>
                <div class="chat">
                  <span>69</span>
                </div>
              </div>
            </div>
            <div class="tabpage" id="tabpage_2">
              <h2>Page 2</h2>
              <p>ljaklsdaspdap</p>
            </div>
            <div class="tabpage" id="tabpage_3">
              <h2>Page 3</h2>
              <p>khasjdlkasdl;asl;das;l </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="large-4 columns sidebar-forum">
    <div class="row search-forum">
        <input type="text" name="search" value="Tìm kiếm chủ đề..." onfocus="if (this.value==this.defaultValue) this.value = ''" onblur="if (this.value=='') this.value = this.defaultValue"/>
    </div>
    <div class="row channel-flow">
      <p>Kênh theo dõi</p>
       <ul class="choose-channel">
         <li><a class="choose-vn" href="#">Memo Tiếng Việt</a></li>
         <li><a class="choose-eng" href="#">Tiếng Anh</a></li>
         <li><a class="choose-gem" href="#">Tiếng Đức</a></li>
         <li><a class="choose-fr" href="#">Tiếng Pháp</a></li>
       </ul>
       <a class="fix" href="#">Sửa</a>
    </div>
  </div>
</div>

</div>

 